{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Academico</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <style>
    body, html {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }

    .background-svg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .main-content {
      position: relative;
      z-index: 1;
    }
  </style>
</head>
<body>
  
  <img src="{% static 'images/utnlogo.png' %}" alt="Logo UTN" class="utn-logo">


  
   
  <svg class="background-svg" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
    <defs>
      <linearGradient id="bg">
        <stop offset="0%" style="stop-color:rgba(130, 158, 249, 0.06)"></stop>
        <stop offset="50%" style="stop-color:rgba(76, 190, 255, 0.6)"></stop>
        <stop offset="100%" style="stop-color:rgba(115, 209, 72, 0.2)"></stop>
      </linearGradient>
      <path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
      s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
    </defs>
    <g>
      <use xlink:href='#wave' opacity=".3">
        <animateTransform attributeName="transform" attributeType="XML" type="translate"
          dur="10s" calcMode="spline" values="270 230; -334 180; 270 230"
          keyTimes="0; .5; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
          repeatCount="indefinite" />
      </use>
      <use xlink:href='#wave' opacity=".6">
        <animateTransform attributeName="transform" attributeType="XML" type="translate"
          dur="8s" calcMode="spline" values="-270 230;243 220;-270 230"
          keyTimes="0; .6; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
          repeatCount="indefinite" />
      </use>
      <use xlink:href='#wave' opacity=".9">
        <animateTransform attributeName="transform" attributeType="XML" type="translate"
          dur="6s" calcMode="spline" values="0 230;-140 200;0 230"
          keyTimes="0; .4; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
          repeatCount="indefinite" />
      </use>
    </g>
  </svg>

  <!-- Contenido principal -->
  <div class="main-content container-fluid min-vh-100 d-flex p-0">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center izquierda">
      <h1 class="display-4 fw-bold text-center">Sistema Academico</h1>
      <p class="lead text-center">Gestion de Informacion del Estudiante</p>
      <p class="mt-auto mb-3 small align-self-center">TheBochitas Project</p>
    </div>

    <div class="col-md-6 d-flex justify-content-center align-items-center derecha">
      <div class="bg-light p-4 rounded shadow w-50" style="min-width: 350px;">
        <h2 class="text-center mb-4">Inicio de Sesion</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-dark">Iniciar Sesion</button>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
            {% endfor %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>

  <script>
    setTimeout(function () {
      const messages = document.querySelectorAll('.alert');
      messages.forEach(function (message) {
        message.classList.remove('show');
        setTimeout(function () {
          message.style.display = 'none';
        }, 250);
      });
    }, 3000);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
