{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema Academico</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container-fluid min-vh-100 d-flex p-0">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center izquierda">
      <h1 class="display-4 fw-bold text-center">Sistema Academico</h1>
      <p class="lead text-center">Gestion de Informacion del Estudiante</p>
      <p class="mt-auto mb-3 small align-self-center">TheBochitas Project</p>
    </div>

    <div class="col-md-6 d-flex justify-content-center align-items-center derecha">
      <div class="bg-light p-4 rounded shadow w-50" style="min-width: 350px;">
        <h2 class="text-center mb-4">Inicio de Sesion</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label" >Usuario</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-dark">Iniciar Sesion</button>
          </div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
              </div>
            {% endfor %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
<script> // Eliminar mensajes automaticamente
    setTimeout(function() {
        const messages = document.querySelectorAll('.alert');
        messages.forEach(function(message) {
            message.classList.remove('show');

            setTimeout(function() {
                message.style.display = 'none';
            }, 500);
        });
    }, 3000);
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>