{% extends 'app/base_admin.html' %}

{% block content %}
<h2 class="titulo-carreras">Carreras registradas en UTN - FRSR</h2>
<div style="max-width: 500px;">
    <form method="get" class="d-flex mb-3">
        <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar" value="{{request.GET.buscar}}">
        <button type="submit" class="btn btn-primary">
            Buscar
        </button>
    </form>
</div>
<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nombre de Carrera</th>
        </tr>
    </thead>
    <tbody>
        {% for carrera in carreras %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ carrera.name }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2" class="text-muted text-center">No hay carreras registradas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
