{% extends 'base.html' %}

{% block content %}
<header class="bg-primary text-white text-center py-4">
    <h1>Sistema Académico</h1>
    <p>Gestión de información del estudiante</p>
</header>

<nav class="bg-info d-flex justify-content-center flex-wrap">
    <a href="{% url 'home' %}" class="text-white px-4 py-3 fw-bold text-decoration-none">HOME</a>
    <a href="{% url 'carrera' %}" class="text-white px-4 py-3 fw-bold text-decoration-none">CARRERAS</a>
    <a href="{% url 'login' %}" class="text-white px-4 py-3 fw-bold text-decoration-none">LOGIN</a>
</nav>
{% endblock %}
